body {
  margin-left: 250px;
  margin-right: 290px;
}

.name {
  font-family: cursive;
  font-size: 1.7em;
  line-height: .1;

}

.header {
  width: 100px;
}

.soc {
  display: flex;
  float: right;
  margin-top: 45px;
  position: absolute;

}

.bf {
font-family: sans-serif;
line-height: -10;
}

#logo {
  float: left;
  margin-right: 5px;
}



